In [1]:
from importlib import reload

In [2]:
import eda_scripts
data = eda_scripts.get_data('./data/orders.csv')

In [3]:
reload(eda_scripts)
data_new = eda_scripts.get_features(data)
data_new.head(10)

,delivery_area_id,date,orders_cnt,year,date_date,quarter,month,season,week,dow,hour,hour_cos,hour_sin,bank_holidays
0,0,2021-04-01 10:00:00,9,2021,2021-04-01,2,4,2,13,3,10,-8.660254e-01,0.500000,0
1,0,2021-04-01 11:00:00,1,2021,2021-04-01,2,4,2,13,3,11,-9.659258e-01,0.258819,0
2,0,2021-04-01 13:00:00,1,2021,2021-04-01,2,4,2,13,3,13,-9.659258e-01,-0.258819,0
3,0,2021-04-01 14:00:00,1,2021,2021-04-01,2,4,2,13,3,14,-8.660254e-01,-0.500000,0
4,0,2021-04-01 15:00:00,2,2021,2021-04-01,2,4,2,13,3,15,-7.071068e-01,-0.707107,0
5,0,2021-04-01 16:00:00,2,2021,2021-04-01,2,4,2,13,3,16,-5.000000e-01,-0.866025,0
6,0,2021-04-01 18:00:00,3,2021,2021-04-01,2,4,2,13,3,18,-1.836970e-16,-1.000000,0
7,0,2021-04-01 19:00:00,2,2021,2021-04-01,2,4,2,13,3,19,2.588190e-01,-0.965926,0
8,0,2021-04-01 20:00:00,2,2021,2021-04-01,2,4,2,13,3,20,5.000000e-01,-0.866025,0
9,0,2021-04-01 21:00:00,1,2021,2021-04-01,2,4,2,13,3,21,7.071068e-01,-0.707107,0